#title{
  background-color:  #FDF0F0;
}

.container-fluid{
  padding: 3% 15%;
}
.col{
  color:rgb(64, 184, 66);


}
.navbar{
  padding-left: 180px;
}

*{

  font-family: "Anta", sans-serif;
}

.col{
  display: flex;
  flex-direction: row;
}

.head-h1{
  text-align: left;
  padding-top: 100px;

}

.bus{
  border-radius: 20px;
  transform: rotate(3deg);
}
.button-btn{
 margin-right: 30rem ;
 position: absolute;
 bottom: 5rem;
}
.btn{
  padding: 20px;

}
#features{
  background-color:#A6CF98;
  padding: 20px;
}
.icon{
  color: orange;
}
.icon:hover {
  color: rgb(149, 62, 215); /* Change the color of the icon when hovered */
  transition: color 0.3s ease-in-out; /* Add a smooth transition effect */
}
.container-fluid{
  text-align: center;
}
#testimonials{
  background-color: #C3E2C2;
  padding: 20px;
}

.bustext{
 text-align: center;
  right: 750px;
  bottom: auto;
}
.busstop{
  border-radius: 20px;
  text-align: center;
  border-radius: 200%;
  width: 200px;
  height: 200px;
}
.em-test{
margin-left: 3%;
}

.testimonial-image{
  border-radius: 20px;
}

.testimonial-text{
  position: relative;
  left: 500px;
  top: 300px;
}
#press{
  background-color: #F3F8FF;
  padding: 20px;
  text-align: center;
}

  .press-image{
    width: 150px;
    padding-bottom:50px;
    margin: 2%;

  }
#pricing{
  background-color: #DF826C;
  text-align: center;
}
#cta{
  background-color: #F5E8DD;
  text-align: center;
}
#footer{
  background-color: #50727B;
  text-align: center;
}

.card-title{
  text-align: center;
}
.card-text{
  text-align: center;
}

.btn{
  padding-top:1%
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  background-color: #F5E8DD
}
